.ipynb_checkpoints

## exclude datasets
books/Deep Learning with TF and Keras/datasets/*
books/Deep Learning with TF and Keras/data
books/Deep Learning with TF and Keras/logs

# exclude the folders where we place downloads
tensor.org/ml_basics_with_keras/downloads
keras.io/computer_vision/downloads
keras.io/V3/computer_vision/downloads

# V2
keras.io/V2/DUTS-TE.zip
keras.io/V2/DUTS-TE/
keras.io/V2/ShiftViT/
keras.io/V2/DUTS-TE.zip.1
keras.io/V2/data.zip
keras.io/V2/data/
keras.io/V2/retinanet/


# exclude the trash folder
.Trash-0/

# exclude saved models
*.keras

# exclude checkpoints
*.ckpt

