aclImdb_v1_archive
aclImdb_v1


stack_overflow_16k_archive
stack_overflow_16k

checkpoints
training_1
training_2
my_dir

*.h5

computer_vision/kagglecatsanddogs_5340.zip
computer_vision/CDLA-Permissive-2.0.pdf
computer_vision/readme[1].txt
computer_vision/PetImages
